header .main-ava > img{
    width: 55px;
    height: 55px;

    border-radius: 50%;

}
#login-form-error{
    color: #f44336;
    font-size: 1.3em;
    font-weight: bold;
}
.alert-error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.alert-success {
    padding: 20px;
    background-color: #4CAF50; /* Red */
    color: white;
    margin-bottom: 15px;
}
.alert-primary {
    padding: 20px;
    background-color: #2196F3; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}

.org-info{
    float: right;
    text-align: right;
    font-size: 1.4em;
    display: block;
}

.main-block .new-org_content .new-org__form .list textarea,
.modal .new-org__form .list textarea{
    font-size: 1.6rem;
    line-height: 1.9rem;

    width: 100%;
    max-width: 700px;
    height: 177px;
    padding: 20px;

    color: #303030;
    border: 1px solid #dfecf8;
    outline: none;
}
.modal .new-org__form .list textarea::-webkit-input-placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea::-moz-placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea:-ms-input-placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea::placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea:focus {
    border: 1px solid #dfecf8;
    outline: none;
}