header .main-ava > img{
    width: 55px;
    height: 55px;

    border-radius: 50%;

}
#login-form-error,
#register-form-error,
#donation-form-error{
    color: #f44336;
    font-size: 1.3em;
    font-weight: bold;
}
.alert-error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.alert-true {
    padding: 20px;
    background-color: #4CAF50; /* Red */
    color: white;
    margin-bottom: 15px;
}
.alert-pr {
    padding: 20px;
    background-color: #2196F3; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}

.org-info{
    float: right;
    text-align: right;
    font-size: 1.4em;
    display: block;
}

.main-block .new-org_content .new-org__form .list textarea,
.modal .new-org__form .list textarea{
    font-size: 1.6rem;
    line-height: 1.9rem;

    width: 100%;
    max-width: 700px;
    height: 177px;
    padding: 20px;

    color: #303030;
    border: 1px solid #dfecf8;
    outline: none;
}
.modal .new-org__form .list textarea::-webkit-input-placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea::-moz-placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea:-ms-input-placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea::placeholder {
    color: #303030;
}
.modal .new-org__form .list textarea:focus {
    border: 1px solid #dfecf8;
    outline: none;
}

body .main-block .top-menu__left .add.plclear {
    padding: 0 10px;

}
body .main-block .top-menu__left .add.plclear:before {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    background: none;
}

body .main-block .top-menu__left .add.plclear:last-child {
    margin-top: 0;
    margin-left: 0;
}
.dashboard-search {
    display: inline-block;
}
.dashboard-search .item input[type="text"] {
    font-size: 1.6rem;
    line-height: 1.0rem;

    width: 70%;
    max-width: 500px;
    min-width: 200px;
    padding: 4px;

    color: #303030;
    border: 1px solid #dfecf8;
    outline: none;
}
.dashboard-search .item input::-webkit-input-placeholder {
    color: #303030;
}
.dashboard-search .item input::-moz-placeholder {
    color: #303030;
}
.dashboard-search .item input:-ms-input-placeholder {
    color: #303030;
}
.dashboard-search .item input::placeholder {
    color: #303030;
}
.dashboard-search .item input:focus {
    border: 1px solid #dfecf8;
    outline: none;
}
.dashboard-search .item input[type="button"] {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.9rem;

    width: 60px;
    padding: 7px 0;

    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    text-transform: none;

    color: #fff;
    border: 1px solid #008cc8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    background: #008cc8;
    margin-left: 5px;
}
.dashboard-search .item input:focus {
    border: 1px solid #008cc8;
    outline: none;
}
.dashboard-search .item input:hover {
    color: #008cc8;
    border: 1px solid #008cc8;
    background: #fff;
}
#modal6 .register-account,
#modal1 .register-account{
    font-size: 1.4em;
}
#modal6 .register-account a,
#modal1 .register-account a{
    color: #008cc8;
}

.header .logout .entrance:after {
    background: none;
}
